NODE_ENV=development
PORT=3050
MONGODB_URL=mongodb://127.0.0.1:27017/brivio
JWT_SECRET=change-me-to-a-long-random-string
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=noreply@brivio.app
STRIPE_PRIVATE_KEY=
STRIPE_WEBHOOK_SECRET=
CREATE_CAMPAIGN_WEBHOOK_SECRET=
BACKEND_IP=localhost
IMAGE_UPLOAD_BACKEND_DOMAIN=http://localhost:3050
FRONTEND_URL=http://localhost:3000
STRIPE_PROJECT_NAME=Brivio
